body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#ffd6e8,#fff5fb);
  font-family:sans-serif;
  overflow:hidden;
}

.envelope{
  background:white;
  padding:35px;
  border-radius:25px;
  text-align:center;
  color:#ff4f9a;
  box-shadow:0 10px 30px rgba(255,79,154,.3);
  cursor:pointer;
  animation:pop 1s ease;
}

.letter h3{
  font-size:26px;
}

.hidden{
  display:none;
}

#content{
  text-align:center;
  color:#ff4f9a;
  padding:20px;
  max-width:500px;
  animation:fadeIn 1s ease;
}

#message{
  font-size:24px;
  white-space:pre-line;
  line-height:1.8;
}

button{
  border:none;
  padding:14px 28px;
  border-radius:30px;
  font-size:20px;
  margin:10px;
  cursor:pointer;
  box-shadow:0 6px 15px rgba(255,79,154,.3);
}

.yes{
  background:#ff4f9a;
  color:white;
  animation:glow 2s infinite;
}

.no{
  background:#eee;
  color:#3498db;
}

#musicBtn{
  position:fixed;
  left:20px;
  bottom:20px;
  background:#ff4f9a;
  color:white;
  border:none;
  border-radius:25px;
  padding:12px 18px;
  font-size:16px;
  z-index:9999;
}

.heart{
  position:absolute;
  font-size:25px;
  animation:float 4s linear forwards;
}

@keyframes float{
  from{
    transform:translateY(100vh);
    opacity:1;
  }
  to{
    transform:translateY(-100px);
    opacity:0;
  }
}

@keyframes pop{
  from{
    transform:scale(.8);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes glow{
  0%{ box-shadow:0 0 10px rgba(255,79,154,.4); }
  50%{ box-shadow:0 0 30px rgba(255,79,154,.9); }
  100%{ box-shadow:0 0 10px rgba(255,79,154,.4); }
}